{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>
    <link rel="stylesheet" href="{% static 'auth/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'auth/css/style-switcher.css' %}">
    <link rel="stylesheet" href="{% static 'auth/css/color-1.css' %}">
    <link rel="stylesheet" href="{% static 'auth/css/color-2.css' %}">
    <link rel="stylesheet" href="{% static 'auth/css/color-3.css' %}">
    <link rel="stylesheet" href="{% static 'auth/css/color-4.css' %}">
    <link rel="stylesheet" href="{% static 'auth/css/color-5.css' %}">
    <!--======CSS Files======-->
    <link rel="stylesheet" href="{% static 'auth/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'auth/css/color-1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!--===========Style Switcher=========-->
    <link rel="stylesheet" href="{% static 'auth/css/style-switcher.css' %}">
    <link rel="stylesheet" href="{% static 'auth/css/color-1.css' %}" class="alternate-style" title="color-1">
    <link rel="stylesheet" href="{% static 'auth/css/color-2.css' %}" class="alternate-style" title="color-2">
    <link rel="stylesheet" href="{% static 'auth/css/color-3.css' %}" class="alternate-style" title="color-3">
    <link rel="stylesheet" href="{% static 'auth/css/color-4.css' %}" class="alternate-style" title="color-4">
    <link rel="stylesheet" href="{% static 'auth/css/color-5.css' %}" class="alternate-style" title="color-5">
</head>

<body>
    <!--====Main Container Start======-->
    <div class="main-container">
        <!--======Aside Start=======-->
        <div class="aside">
            <div class="logo">
                <a href="#"><span>port</span>folio</a>
            </div>
            <div class="nav-toggler">
                <span></span>
            </div>
            <ul class="nav">
                <li><a href="/profile/" class="active"><i class="fa fa-home"></i>Home</a></li>
                <li><a href="/about/"><i class="fa fa-user"></i>About</a></li>
                <li><a href="/service/"><i class="fa fa-list"></i>Services</a></li>
                <li><a href="/portfolio/"><i class="fa fa-briefcase"></i>Portfolio</a></li>
                <li><a href="/contac/"><i class="fa fa-comments"></i>Contact</a></li>
                <li><a href="/login/"><i class="fa fa-sign"></i>Login</a></li>
            </ul>
        </div>
        <!--======Aside End=======-->
        <!--=======Main Content Start======-->
        <div class="main-content">
            <!--=====Home Section Start=====-->

            <section class="service section" id="services">
                <div class="container">
                    <div class="row">
                        <div class="section-title padd-15">
                            <h2>Service</h2>
                        </div>
                    </div>
                    <div class="row">
                        <!--=====Service item Start=====-->
                        <div class="service-item padd-15">
                            <div class="service-item-inner">
                                <div class="icon">
                                    <i class="fa fa-mobile-alt"></i>
                                </div>
                                <h4>Application Development</h4>
                                <p>In application development, web design refers to the process of creating the user interface (UI) and user experience (UX) for web-based applications. Here are some key aspects to describe in application:</p>
                            </div>
                        </div>
                        <!--=======Service item End=======-->
                        <!--=====Service item Start=====-->
                        <div class="service-item padd-15">
                            <div class="service-item-inner">
                                <div class="icon">
                                    <i class="fa fa-laptop-code"></i>
                                </div>
                                <h4>Web Development</h4>
                                <p>In web development, web design refers to the process of creating the visual and interactive elements of a website. Here are some key aspects to describe in web development when it comes to web design:</p>
                            </div>
                        </div>
                        <!--=======Service item End=======-->
                        <!--=====Service item Start=====-->
                        <div class="service-item padd-15">
                            <div class="service-item-inner">
                                <div class="icon">
                                    <i class="fa fa-palette"></i>
                                </div>
                                <h4>web design</h4>
                                <p>Web design refers to the process of creating and designing the layout, appearance, and functionality of websites. It involves a range of disciplines including graphic design, interface design:</p>
                            </div>
                        </div>
                        <!--=======Service item End=======-->
                        <!--=====Service item Start=====-->
                        <div class="service-item padd-15">
                            <div class="service-item-inner">
                                <div class="icon">
                                    <i class="fa fa-code"></i>
                                </div>
                                <h4>Coading</h4>
                                <p>In coding, web design involves creating the structure and functionality of a website using different programming languages such as HTML, CSS, JavaScript, and others. Here are some key aspects to describe:

                                </p>
                            </div>
                        </div>
                        <!--=======Service item End=======-->
                        <!--=====Service item Start=====-->
                        <div class="service-item padd-15">
                            <div class="service-item-inner">
                                <div class="icon">
                                    <i class="fa fa-search"></i>
                                </div>
                                <h4>Searching</h4>
                                <p>In the searching process, web design involves creating a website that is easy to navigate and allows users to find the information they are looking for quickly and efficiently. Here are some key aspects to describe :</p>
                            </div>
                        </div>
                        <!--=======Service item End=======-->
                        <!--=====Service item Start=====-->
                        <div class="service-item padd-15">
                            <div class="service-item-inner">
                                <div class="icon">
                                    <i class="fa fa-bullhorn"></i>
                                </div>
                                <h4>Sound</h4>
                                <p>In the sound process, web design involves creating a website that incorporates sound in a way that enhances the user experience. Here are some key aspects to describe in the sound process when it comes to web design:</p>
                            </div>
                        </div>
                        <!--=======Service item End=======-->
                    </div>
                </div>


            </section>
            <!--======Contect section End====-->
        </div>
        <!--====Main Content End=====-->
    </div>
    <!--====Main Container End======-->
    <!--==========Style Switcher Start=========-->
    <div class="style-switcher">
        <div class="style-switcher-toggler s-icon">
            <i class="fas fa-cog fa-spin"></i>
        </div>
        <div class="day-night s-icon">
            <i class="fas fa-moon"></i>
        </div>
        <h4>Theme Colors</h4>
        <div class="colors">
            <span class="color-1" onclick="setActiveStyle('color-1')"></span>
            <span class="color-2" onclick="setActiveStyle('color-2')"></span>
            <span class="color-3" onclick="setActiveStyle('color-3')"></span>
            <span class="color-4" onclick="setActiveStyle('color-4')"></span>
            <span class="color-5" onclick="setActiveStyle('color-5')"></span>
        </div>
    </div>

    <!--=========JS Files========-->
    <script type="text/javascript" src="{% static 'auth/js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'auth/js/style-switcher.js' %}"></script>
    <script src="{% static 'auth/js/https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js' %}" referrerpolicy="no-referrer"></script>

    <button><a href="{% url 'logout' %}">LOG OUT</a></button>
</body>

</html>